
body {
    margin: 0px;
  
    
}

.header {

    background-image: url("img/montagne.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
    
   

}

.inneheader{
    height:90% ;
    display: flex;
    align-items: center;
    justify-content: center;

}


.topbar {

    background-color: #00000069;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    
}


.logo { 

    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;

}

.button{
    border-radius: 10%;
    background-color: rgba(10, 226, 187, 0.717);
    border: solid 2px rgba(10, 226, 187, 0.717);

}

.punchline { 

    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.331);
    color: rgba(255, 196, 0, 0.797);
    



}

.panneaux{
    height: 100vh;
    width: 100%;
    display: flex;

}

.panneau{

background-repeat: no-repeat;
background-size: cover;
flex: 1;
display: flex;
background-position: center;
transition: 2s flex ease-in-out;
display: flex;
flex-direction: column;
align-items: center;
text-transform: uppercase;
font-size: 1.5rem;
font-weight: border;

justify-content: space-around;

}

.panneau:hover{

flex:5;


}

.paysage1{
background-image: url("img/paysage1.jpg");


}


.paysage2{

background-image: url("img/paysage2.jpg");
}

.paysage3{

background-image: url("img/paysage3.jpg");
}

.paysage4{

background-image: url("img/paysage4.jpg");
}

.paysage5{

background-image: url("img/paysage5.jpg");
}

.panneau .ImageDuHaut{
transform: translateY(-100%);
opacity: 0%;
transition: 1s;

background-size: cover;
height: 10rem;
width: 10rem;
border-radius: 50%;
background-position: center;

}

.ImageDuHaut1{

    background-image: url("img/panneaux.png");
}

.ImageDuHaut2{

    background-image: url("img/tableau.png");
}

.ImageDuHaut3{

    background-image: url("img/animations.png");
}


.panneau:hover .ImageDuHaut{
transform: translateY(0);
opacity: 100%;

}

.panneau .LienBas{
transform: translateY(800%);
opacity: 0%;
transition: 1s;
color: rgb(255, 255, 255);
text-decoration: none;
}

.panneau:hover .LienBas{
transform: translateY(0);
opacity: 100%;

}